<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SGDDropDownTextField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>481E88661D0AC63400D2183C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>481E887F1D0AC63400D2183C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>481E888A1D0AC63400D2183C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
